{{#each this}}
  <a class='photo-card' href='{{largeImageURL}}'>
    <div class='photo-card__thumb'>
      <img
        class='photo-card__img'
        id='{{id}}'
        src='{{webformatURL}}'
        data-src='{{fullHDURL}}'
        alt='{{tags}}'
        loading='lazy'
      />
    </div>

    <div class='info'>
      <p class='info__item'>
        <b class='info__title'>Likes</b>
        {{likes}}
      </p>

      <p class='info__item'>
        <b class='info__title'>Views</b>
        {{views}}
      </p>

      <p class='info__item'>
        <b class='info__title'>Comments</b>
        {{comments}}
      </p>

      <p class='info__item'>
        <b class='info__title'>Downloads</b>
        {{downloads}}
      </p>
    </div>
  </a>
{{/each}}